body {
  margin: 10% auto;
  font-weight: 700;
  text-align: center;
  background-color: #1b1f29;
  color: #4978ff;
  min-width: 700px;
}

h1 {
  font-size: 3rem;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.ui.label {
  width: 3em;
  background-color: transparent;
}

.pt {
  padding-top: 1em;
}

.pt-5 {
  padding-top: 10em;
}

.pr-5 {
  padding-right: 10em;
}
