body {
  margin: 10% auto;
  font-weight: 700;
  text-align: center;
  background-color: #1b1f29;
  color: #4978ff;
}

h1 {
  font-size: 3rem;
}

.text-align-left {
  text-align: left;
}

.ui.label {
  width: 3em;
  background-color: transparent;
}

.pt {
  padding-top: 1em;
}

.pt-5 {
  padding-top: 10em;
}

.pl-5 {
  padding-left: 10em;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 600px;
  }
}
